*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Anta-Regular;
}

#root{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: Anta-Regular;
    src: url('./fonts/Anta-Regular.ttf');
}

a{
    color: inherit;
    text-decoration: none;
}