.skin{
    width: 100%;
    height: 12vh;
    background-color: #121212;
    border-radius: min(0.52083vw, 0.92593vh);
}

.SvgTxtHome{
    width: 100%;
    height: 50%;
    margin-left: 1.5vh;
}

.SvgTxtSearch{
    width: 100%;
    height: 50%;
    margin-left: 1.5vh;
}